[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# wheel is needed for building the package and installing wheels
wheel = ">=0.43.0"
# requests is needed for making HTTP requests
requests = "*"
# aridne is a Python library for building GraphQL APIs
ariadne= ">=0.22"
# fastapi is a Python library for building APIs
fastapi = ">=0.110.0"
# boto3 is a Python library for interacting with AWS services
boto3 = ">=1.34.59"
# uvicorn is a Python library for running ASGI applications
uvicorn = ">=0.28.0"
# ddtrace is a Python library for tracing requests
ddtrace=">=2.6.3"
# prometheus-fastapi-instrumentator is a Python library for instrumenting FastAPI applications
prometheus-fastapi-instrumentator = ">=7.0.0"
# python-crfsuite is a Python library used when installing some packages
python-crfsuite = ">=0.9.11"
# httpx is a Python library for making HTTP requests
httpx = ">=0.27.2"
# for testing the MCP client
mcp = ">=1.11.0"
# for creating the MCP client to test
fastmcp = ">=2.11.0"
# authlib is a Python library for OAuth and OpenID Connect
authlib = ">=1.6.1"
# joserfc is a Python library for working with JOSE (JSON Object Signing and Encryption)
joserfc = ">=1.2.2"

[dev-packages]
# pre-commit is a Python library for running pre-commit checks
pre-commit=">=3.8.0"
# autoflake is a Python library for removing unused imports
autoflake=">=2.3.1"
# mypy is a Python library for type checking
mypy = ">=1.11.2"
# pytest is a Python library for running tests
pytest = ">=8.3.3"
# pytest-asyncio is a Python library for running asyncio tests
pytest-asyncio = ">=0.24.0"
# black is a Python library for formatting code
black = ">=24.8.0"
# deepdiff is a Python library for comparing objects
deepdiff = { version = ">=8.0.1", extras = ["murmur"] }
types-requests = "*"
# types-beautifulsoup is a Python library for typing BeautifulSoup
types-beautifulsoup4 = ">=4.12.0.20241020"
# These packages are for testing the MCP gateway
# openai is a Python library for interacting with OpenAI
openai = ">=1.97.0"
# for testing the MCP client
mcp = ">=1.11.0"
# asgi-lifespan is a Python library for managing ASGI lifespan events
asgi-lifespan = ">=2.1.0"
# respx is a Python library for mocking HTTP requests in tests
respx = ">=0.22.0"
# types-Authlib is a Python library for typing Authlib
types-Authlib = ">=1.6.0"
# bandit is needed for security checks
bandit = ">=1.8.3"
# ruff is needed for linting
ruff = ">=0.11.5"
# types-boto3 provides type hints for boto3
types-boto3 = { version = ">=1.40.0"}

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
